body {
    margin: 0;
    background-color: aqua;
}
h1 {
    font-size: 80px;
    margin-top: 0;
}
.content-page {
    text-align: center;
}
.input-city {
    padding: 10px;
}
.btn-submit {
    padding: 10px;
    background-color: blue;
    color: white;
    border-radius: 15%;
}
.btn-submit:hover {
    background-color: lightblue;
    color: blue;
    transition-duration: 0.3s;
}

.weather-result {
    font-size: 25px;
    margin-top: 3%;
}

.img_result, .day {
    display: flex;
    justify-content: space-around;
}
